<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>lab2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Девятибальною шкалою Сааті</h2>
      <p>1 - якщо відсутня перевага елемента ui над uj;</p>
      <p>3 - якщо існує слабка перевага ui над uj;</p>
      <p>5 - якщо існує істотна перевага ui над uj;</p>
      <p>7 - якщо існує явна перевага ui над uj;</p>
      <p>9 - якщо існує абсолютна перевага над;</p>
      <p>2,4,6,8 - проміжні оцінки переваг.</p>
    </div>

    <div class="mt-5">
      <p>
      <p>На основі цих властивостей обчислюються всі елементи матриці парних порівнянь, якщо є обчислені
        попередньо (n-1) недіагональних елементів. Наприклад, якщо відомо k-тий нижній рядок матриці , тобто
        елементи akj , к,j=1..n ‚ то елементи к+1 – го рядка , тобто aij визначаються формулою: </p>
      <h3>aij = ak<sub>j</sub> /ak<sub>i</sub></h3>
      <p class="mt-5">Функції належності нечіткої множини обчислюються за формулою:</p>
      <p class="img ">
        <img src="../../assets/Screenshot_3.jpg" alt="">
      </p>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</body>
</html>
